
.App {
  height: 100%;
  width: 100%;
 background-color: rgb(157, 156, 222);
  
  background-size: cover;
  background-position: center;
  text-align: center;
}
.App-header {
  background-color: #05235d;
  min-height: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 251, 251);
  padding: 1rem 2rem 1rem 2rem;
  
}


.App-header .nav .nav-link {
  color: white;
}

/* .img-fluid {
  width: auto;
  height: 50%;
} */





